@use "../helpers" as *;

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  &.is-visible {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  &__content {
	background: white;
	padding: 2rem;
	max-width: 500px;
	width: 90%;
	position: relative;
	border-radius: 0.5rem;
  }

  &__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
  }
}
